.gallery .intro .title{
    font-size: 80px;
}
.gallery .intro .desc{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom : 50px;
}
.gallery .intro .desc .info{
    width : 25%;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.88;
}
.gallery .intro .desc .text{
    width : 75%;
    font-size: 24px;
    line-height: 1.88;
}
/* ------------------------------------------- */

.gallery .detail .item{
    margin-bottom: 40px;
}
.gallery .detail .item img{
    width : 100%;
}
.gallery .detail .desc{
    font-size: 20px;
    line-height: 1.88;
}

.gallery .detail .slider{
    border : 1px solid rgba(0, 0, 0, 0.267);
    width : 100%;
    background-position: center;
    background-size: cover;
    transition : background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery .detail .slider .button {
    height : 100%;
    padding : 0 20px;

    font-size: 30px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.gallery .detail .slider #left{
    background: transparent;
}
.gallery .detail .slider #left:hover {
    background : linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
.gallery .detail .slider #right{
    flex-direction: row-reverse;
    background: transparent;
}
.gallery .detail .slider #right:hover{
    background : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

/* ------------------------------------------- */

.gallery .artists .flex-row-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 180px;
}
.gallery .artists .item{
    text-align: center;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .artists .item .profile {
    width : 250px;
    height : 250px;
    border-radius: 125px;
    border : solid 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery .artists .item .info {
    margin: 20px 0;
    font-size: 20px;
}
.gallery .artists .item .info .name {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}

/* ------------------------------------------- */
.gallery .goLobby{
    width : 400px;
    margin : 0 auto 100px auto;
    padding : 50px 70px;

    border : 1px solid;
    border-radius: 200px;
    transition : background-color 0.2s ease-in-out;
}
.gallery .goLobby:hover{
    color : white;
}
.gallery .goLobby:hover .line{
    stroke : white;
}

.gallery .goLobby .flex-row-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery .goLobby .title{
    font-size: 30px;
    font-weight: 800;
}
.gallery .goLobby .text{
    font-size: 24px;
    font-weight: 800;
}


/* ------------------------------------------- */
@media screen and (max-width : 1440px){
    .gallery .section{
        width : 100%;
    }
}