.Gallery{
}

.Gallery .section{
    width : 100vw;
}
.Gallery .section .wrapper{
    margin : 0 auto;
    width : 1024px;
    padding : 60px 0 80px 0;
}
.Gallery .section .sectionTitle{
    width : fit-content;
    margin : 0 auto;
    padding : 0 8px;

    position: relative;
    top : -12px;
    background-color: white;
}
.Gallery .section .sectionTitle .text{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.Gallery .line {
    width : 100vw;
    height : 1px;
    min-height: 1px;
}
/* -------------------------------------- */
.Gallery .intro {
    margin-top: 53px;
}
.Gallery .intro .flex-row-wrapper { 
    display: flex;
    flex-direction: row;
}
.Gallery .intro .flex-row-wrapper>div{
    width : 50%;
    text-align: left;
}
.Gallery .intro .title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}
.Gallery .intro .genre{
    font-size: 16px;
    margin-bottom: 28px;
}
.Gallery .intro .video{
    margin-bottom: 53px;
}
.Gallery .intro .desc{
    font-size: 20px;
    line-height: 1.88;
}
/* -------------------------------------- */
.Gallery .detail .wrapper{
    margin-bottom : 20px;
}
.Gallery .detail .item{
    margin-bottom : 40px;
}
.Gallery .detail .item img{
    width : 100%;
}
.Gallery .detail .desc{
    font-size: 16px;
    line-height: 1.88;
}

.Gallery .detail .slider{
    border : 1px solid rgba(0, 0, 0, 0.267);
    width : 100%;
    background-position: center;
    background-size: cover;
    transition : background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Gallery .detail .slider .button {
    height : 100%;
    padding : 0 20px;

    font-size: 30px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.Gallery .detail .slider #left{
    background: transparent;
}
.Gallery .detail .slider #left:hover {
    background : linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
.Gallery .detail .slider #right{
    flex-direction: row-reverse;
    background: transparent;
}
.Gallery .detail .slider #right:hover{
    background : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
/* -------------------------------------- */
.Gallery .artist .wrapper{
    padding-top: 12px;
    padding-bottom : 130px;
}
.Gallery .artist .teamName{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.Gallery .artist .list{
    width: 1024px;
    margin : 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Gallery .artist .list .item{
    text-align: center;
    margin-top: 60px;

    padding : 20px 10px 40px 10px;
    border: 1px solid;
    border-radius: 10px;
    border-bottom: 5px solid;
}
.Gallery .artist .list .item .info{
    font-size : 14px;
}
.Gallery .artist .list .item .info .name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.25em;
}

.Gallery .artist .list .item .profile{
    width : 200px;
    height : 200px;
    border-radius: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border : solid 1px ; */
}
/* -------------------------------------- */
.Gallery .goBack{
    width : 290px;
    height : 67px;
    border : 2px solid;
    margin : 0 auto 86px auto;


    display: flex;
    justify-content: center;
    align-items: center;
}
.Gallery .goBack .text{
    font-size: 24px;
    font-weight: 800;
}

@media screen and (max-width : 1024px){
    .Gallery .section .wrapper{
        width : 100%;
    }

}