 .gnb{
    width : 96%;
    height : 56px;
    background-color: transparent;
    border-bottom: 4px solid ;

    position : fixed;
    top : 0px;
    left : 0px;
    z-index : 9;
    transition : top 0.5s ease-in-out;

    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 0 2%;
} 
.gnb-show{
    top : -66px;
}
.gnb .item {
    font-size: 18px;
    font-weight: bold;
} 
.gnb .logo {
    height: 28px;
} 
.gnb .logo .img{
    height : 100%;
}
 
.gnb .menu-hide {
    display: none;
}
 
.gnb .search{
    border-bottom: 1px solid;
    height : 34px;
} 
.gnb .search .input{
    height : 100%;
    margin : 5px;
}