.staffs{
    padding-top:56px;
    width : 100%;
}
.staffs .section {
    margin : 0 auto;
    width : 1000px;
    padding : 70px 50px 70px 50px;
}

.staffs .flex-row-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.staffs .item {
    width: fit-content;
    text-align: center;
    margin : 20px 30px;
}
.staffs .item .profileHolder{
    width : 200px;
    height : 200px;
    border-radius: 100px;
    border : 2px solid #161616;
    background-color: white;
    background-size: cover;
    background-position: center;
}




/* for table 786 - 1024 */
@media screen and (max-width:1024px){
    .staffs .section{ width : 100%;}
    
}